# Keil MDK build outputs
*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.htm
*.lnp
*.lst
*.map
*.iex
*.dep
*.sct
*.fed
*.build_log.htm
*.tra

# Keil user settings
*.uvguix.*
*.uvoptx
JLink*
*.JLink*

# STM32CubeMX temp
.mxproject

# IDE
.vs/
.vscode/
*.suo

# OS junk
Thumbs.db
Desktop.ini
